* {
    font-family: comic sans MS, sans-serif;
}

hr{
    opacity: 1;
}

h1{
    font-size: 40px;
}

p{
    font-size: 24px;
}

.flavor{
    font-size: 14px;
}

.att {
    border-radius: 20px;
}

.monster {
    padding: 0px;
    margin: 8px 0px;
    height: 150px;
    width: 150px;
    border: black solid 1px;
    border-radius: 30px;
}