@font-face {
    font-family: Pokemon Solid, sans-serif;
    src: local(Pokemon Solid), url(./fonts/PokemonSolid.ttf) format('truetype');
    font-style: normal;
}

#footer {
    height: 100px;
    background-color: #C62828
}