.monstercard {
    font-family: comic sans MS, sans-serif;
}
hr{
    opacity: 1;
}

h1{
    font-size: 40px;
}

p{
    font-size: 24px;
}

.flavor{
    font-size: 14px;
}

.monster {
    height: 175px;
    width: 175px;
    border-radius: 45px;
}

.balls {
    height: 30px;
    width: auto;
}