.choice {

    font-family: Pokemon Solid;
    font-style: normal;
    font-weight: bolder;
    font-size: 72px;

    color: #000;
}

.pokemon {
    margin: 8px 0px;
    height: 125px;
    width: 125px;
    border: black solid 1px;
    border-radius: 30px;
    box-shadow: rgb(78, 78, 78) 0px 4px 10px;
}

.balls {
    height: 30px;
    width: auto;
}